language: c
compiler:
  - clang
  - gcc
sudo: false
before_install:
  - pip install cpp-coveralls --user
  - export LD_LIBRARY_PATH=$PWD/build/dist/lib:$LD_LIBRARY_PATH
env:
  - USE_CONTEXT=ON
  - USE_CONTEXT=OFF
  - USE_CONTEXT=OFF use_embedtls=ON
matrix:
  exclude:
    - compiler: gcc
      env: USE_CONTEXT=OFF
    - compiler: gcc
      env: USE_CONTEXT=OFF use_embedtls=ON
addons:
  apt:
    sources:
      - george-edison55-precise-backports
    packages:
    - libssl-dev
    - cmake
    - cmake-data
script:
  - git clone git://github.com/cose-wg/Examples Examples
  - mkdir build
  - cd build && cmake -Duse_context=$USE_CONTEXT -Dcoveralls_send=ON .. && make all test
  - make coveralls


