language: cpp
compiler:
  - gcc
sudo: false
env:
  global:
    - OPENSSL_VERSION="1.1.1f"
      OPENSSL_INSTALL_DIR="${HOME}/opt"
  jobs:
    - USE_CONTEXT=ON
      COVERALLS="-DCOSE_C_COVERALLS_SEND=ON -DCOSE_C_INCLUDE_COUNTERSIGN=ON"
    - USE_CONTEXT=OFF
      COVERALLS="-DCOSE_C_COVERALLS_SEND=ON -DCOSE_C_INCLUDE_COUNTERSIGN=ON"
    - USE_CONTEXT=OFF USE_EMBEDTLS=ON
      COVERALLS="-DCOSE_C_COVERALLS_SEND=ON -DCOSE_C_INCLUDE_COUNTERSIGN=ON"
    - USE_CONTEXT=ON USE_EMBEDTLS=ON
      COVERALLS="-DCOSE_C_COVERALLS_SEND=ON -DCOSE_C_INCLUDE_COUNTERSIGN=ON"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.8
      - george-edison55-precise-backports
    packages:
    - cmake
    - cmake-data

before_install:
  - pip install cpp-coveralls --user
  - export LD_LIBRARY_PATH=$PWD/build/dist/lib:$LD_LIBRARY_PATH
  - bash .ci/build-openssl.sh > build-deps.log 2>&1 || (cat build-deps.log && exit 1)

script:
#  - apt-get install libssl1.1.0
  - export OPENSSL_ROOT_DIR=${OPENSSL_INSTALL_DIR}
  - cmake --version
  - git clone --depth 1 git://github.com/cose-wg/Examples Examples
  - mkdir build
  - cd build && cmake -DCOSE_C_USE_CONTEXT=$USE_CONTEXT -DCOSE_C_USE_MBEDTLS=$USE_EMBEDTLS $CMAKE_OPTIONS $COVERALLS .. && make -k all test

after_success:
  - make coveralls


